.context-menu {
    background: white;
    border: solid 1px;
    position: absolute;
    z-index: 10;
}

.context-menu button {
    border: none;
    display: block;
    padding: 0.5em;
    text-align: left;
    width: 100%;
}

.context-menu button:hover {
    background: white;
}