@import "../global-styles.scss";

.cost-element-library {
    .category {
        padding: .5rem 1rem .5rem 1rem;
        text-align: center;
        border: 1px solid;
    }
    .element {
        margin: .5rem 0rem .5rem 1.5rem;
        padding: .5rem .8rem .5rem .8rem;
        text-align: center;
        border: 1px solid;
        border-radius: 5px;
        background-color: $primary-blue;
        color: $secondary-white;
    }
}