.costing-panel {
    .feedstock-table {
        font-size: 10px;
        font-weight: 800;
    }
    .material-table {
        font-size: 10px;
        font-weight: 800;
    }

    table {
        width: 100%;
        margin: 1rem 0rem 1rem 0rem;
        td,th {
            padding: 0.3rem;
        }
    }
}