@import '../global-styles.scss';

.linear-pricing-model {
    .page-title {
        width: 100%;
        display: flex;
        justify-content: center;

        h1 {
            margin-left: 1rem;
            margin-bottom: 0.5rem;
        }
    }

    .table-wrapper {
        height: calc(90vh - 80px);
        overflow: scroll;
    }

    table {
        margin: 1rem;

        thead {
            background-color: $primary-blue;
            font-weight: bold;

            tr, tr:hover {
                background-color: $primary-blue;
                color: white;

                td {
                    text-align: center;
                }
    
                span {
                    margin-right: 15px;
                }
    
                button {
                    margin: 0;
                    padding: 0 5px;
                    background-color: $primary-blue-light;
                    border: none;
    
                    &:hover {
                        background-color: $secondary-blue-dark;
                    }
                }
    
                .input-output {
                    font-weight: normal;
                }
    
                .gray {
                    background-color: gray;
                }
    
                .gold {
                    background-color: goldenrod;
                }

                .red {
                    background-color: indianred;
                }

                .green {
                    background-color: darkseagreen;
                }
            }
        }

        tbody td {
            min-width: 50px;
        }
    }
}