@import '../global-styles.scss';

.linear-pricing-model {
    h1 {
        margin-left: 1rem;
    }

    .table-wrapper {
        padding-bottom: 60px;
    }

    table {
        margin: 1rem;

        thead {
            background-color: $primary-blue;
            color: white;
            font-weight: bold;

            tr, tr:hover {
                background-color: $primary-blue;
                color: white;
            }

            td {
                text-align: center;
            }
        }

        td {
            min-width: 50px;
        }
    }
}