$primary-blue: #003da5;
$primary-white: #ffffff;
$primary-blue-light: #00a3e0;
$secondary-blue-dark: #002c7a;
$secondary-black: #000000;
$secondary-grey: #f2f7ff;
$secondary-grey-dark: #d6dadf;

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

h1, h2 {
  color: $primary-blue;
}

a {
  text-decoration: none;
  font-weight: bold;

  &:visited {
    color: $primary-blue;
  }
}

button {
    color: white;
    margin-top: 20px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    border-style: solid;
    
    &:hover {
        cursor: pointer;
    }
}

.active-button {
    background-color: $primary-blue;
    border-color: $primary-blue;

    &:hover {
      background-color: $secondary-blue-dark;
      border-color: $secondary-blue-dark;
    }
}

.inactive-button {
    background-color: gray;
    border-color: gray;
    cursor: not-allowed;
}